a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

a:visited {
    color: black;
}

button {
    background: white;
    border: none;
    font-weight: bolder;
}

hr {
    border: none;
    border-bottom: 5px solid #7a7a7a;
}

#file-manager {
    visibility: hidden;
}

#path-navigations {
    background: rgba(225, 225, 225, 0.75);
    border-bottom: 3px solid grey;
    box-sizing: border-box;
    height: 70px;
    position: fixed;
    width: 752px;
}

#path-navigations > button {
    background: rgb(65, 105, 225);
    border-radius: 50%;
    height: 50px;
    margin: 10px;
    width: 50px;
}

#path-navigations > input[type=text] {
    border-bottom: 2px solid #4169e1;
    border-left: 4px solid #4169e1;
    border-top: 4px solid #4169e1;
    border-right: 2px solid #4169e1;
    border-radius: 5px;
    color: rgb(65, 105, 225);
    font-weight: bolder;
    height: 30px;
    margin: 0 10px;
    width: 516px;
}

#tools {
    background: rgba(65, 105, 225, 0.75);
    position: fixed;
    top: 70px;
    width: 750px;
}

#tools > button {
    background: #4169e1;
    height: 75px;
    width: 75px;
}

#storage {
    background: #4169e1;
    border-radius: 0 25px 0 0;
    border-right: 5px solid #7a7a7a;
    position: fixed;
    width: 300px;
}

#storage > div {
    color: white;
    font-family: monospace;
    font-size: 1.25em;
    font-weight: bolder;
    margin: 10px;
    overflow: auto;
}

#files-and-folders {
    background: white;
    float: left;
    margin-left: 300px;
    margin-top: 145px;
    overflow-y: auto;
}

#files-and-folders > h1{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.selected {
    background-color: rgba(0, 200, 200, 0.75);
}

.list {
    display: inline-block;
    height: 188px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    text-overflow: "...";
    width: 150px;
}

.list > img {
    display: block;
    margin: 25px auto;
}

.list > input.rename {
    display: none;
}

.list:hover {
    background: rgba(0, 200, 200, 0.75);
}

#tools > button:hover, #tools > button:hover {
    background: #7a7a7a;
}