* {
    font-family: arial;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
	font-size: 1em;
}

h1 {
	font-family: serif;
	font-size: 2.25em;
	font-weight: bolder;
	text-align: center;
}

a {
	color: blue;
	text-decoration: none;
}

.dialog-box {
	position: fixed;
	width: 500px;
	z-index: 2;
}

#confirm-box > .header {
	background: blue;
}

.alert-box > .header {
	background: red;
}

.header {
	color: white;
	font-weight: bold;
	overflow: hidden;
}

.header > span {
	display: inline-block;
	padding: 10px;
}

.header > .close-dialog-box-button {
	background: transparent;
	border-radius: 5px;
	border-style: none;
	color: white;
	float: right;
	font-weight: bold;
	height: 40px;
	padding: 5px;
	width: 40px;
}

.header > .close-dialog-box-button:hover {
	background: #dc0000;
}

.body {
	background: #ffffff;
	width: 500px;
}

.icon {
	box-sizing: border-box;
	float: left;
	padding: 10px;
	width: 200px;
}

.icon > img {
	display: block;
	margin: 0 auto;
	width: 80%;
}

.content-container {
	height: 164px;
	float: right;
	overflow-x: hidden;
	overflow-y: auto;
	width: 300px;
}

.alert > div {
	background: hotpink;
	border-bottom: 3px solid red;
	border-left: 6px solid red;
	border-right: 3px solid red;
	border-top: 6px solid red;
	border-radius: 5px;
	box-sizing: border-box;
	color: red;
	font-weight: bold;
	margin: 20px;
	padding: 3px;
	width: 260px;
}

#info > div {
	background: #00bfff;
	border-bottom: 3px solid blue;
	border-left: 6px solid blue;
	border-right: 3px solid blue;
	border-top: 6px solid blue;
	border-radius: 5px;
	box-sizing: border-box;
	color: blue;
	font-weight: bold;
	margin: 20px;
	padding: 3px;
	width: 260px;
}

#confirm {
	overflow: hidden;
}

#confirm > button {
	background: blue;
	border-radius: 23.5px;
	border-style: none;
	color: white;
	font-weight: bold;
	height: 47px;
	margin: 2.5px 0 22.5px;
	width: 100px;
}

#confirm > button:first-child {
	margin: 0 20px 0 40px;
}

#confirm > button:hover {
	background: red;
}

a:visited {
	color: blue;
}

button:hover, a:hover {
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}