body {
	background: white url("/3a-os/pictures/komponen-web/592083.jpg") no-repeat fixed;
	background-size: cover;
}

#menu {
	background: rgba(45, 73, 157, 0.75);
	bottom: 40px;
	height: 500px;
	position: absolute;
	visibility: hidden;
	z-index: 1;
}

#left-menu, #right-menu {
	float: left;
}

#left-menu {
	background: rgba(65, 105, 225, 0.75);
	height: 100%;
	width: 50px;
}

.menu-button {
	padding: 12.5px 0;
}

.menu-button > img {
	display: block; 
	margin: 0 auto;
}

#right-menu {
	height: 100%;
}

.apps-name {
	background: transparent;
	border-style: none;
	box-sizing: border-box;
	color: white;
	display: block;
	font-size: 1.25em;
	text-transform: capitalize;
	font-weight: bold;
	padding: 10px 5px;
	text-align: left;
	width: 500px;
}

#nav {
	background: rgba(65, 105, 225, 0.75);
	bottom: 0;
	position: fixed;
	width: 100%;
}

#start-button {
	background: rgba(65, 105, 225, 0.75);
	border-style: none;
	border-radius: 0 5px 5px 0;
	border-right: 3px solid rgb(175, 175, 175);
	color: white;
	font-size: 1.25em;
	font-weight: bold;
	padding: 7.5px 10px;
	width: 76px;
}

#date-and-time {
	border-left: 3px solid white;
	display: inline;
	padding-left: 5px;
	position: absolute;
	right: 0;
}

#date, #time {
	color: white;
	font-weight: bold;
}

#time {
	text-align: center;
}

#calendar {
	background: rgba(5, 55, 175, 0.75);
	bottom: 40px;
	display: none;
	position: absolute;
	right: 0;
	z-index: 1;
}

#current-date {
	box-sizing: border-box;
	color: white;
	font-size: 1.25em;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

#calendar th {
	background: rgba(25, 75, 200, 0.75);
}

#calendar td, #calendar th {
	color: white;
	font-size: 1.25em;
	font-weight: bold;
	padding: 0 20px;
	text-align: center;
}

iframe {
	background: white;
	border: none;
	overflow: hidden;
}

.program {
	position: fixed;
}

.window-header {
    background: #000080;
    color: white;
    font-weight: bold;
    width: 100%;
}

.window-header > button {
    background: transparent;
    border: none;
    float: right;
}

.app-call-button {
	background: rgba(65, 105, 225, 0.75);
	border-style: none;
	border-radius: 0 5px 5px 0;
	border-right: 3px solid rgb(175, 175, 175);
	color: white;
	font-size: 1.25em;
	font-weight: bold;
	padding: 5px;
	vertical-align: bottom;
}

.app-call-button > img {
	display: block;
	height: 30px;
	width: 30px;
}

.menu-button:hover {
	background: rgba(45, 73, 157, 0.75);
}

.apps-name:hover {
	background: rgba(65, 105, 225, 0.75);
}

#nav > button:hover {
	background: rgba(5, 55, 175, 0.75);
}

